@model HealthVet.Models.AppointmentsViewModel

<div>
    <h4>Cita Agendada con Éxito!!</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datetime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.category_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.category_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pet_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pet_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fullbreed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fullbreed)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success text-center" asp-controller="Pets" asp-action="confirmationEmail">Enviar al correo</a>

    <a class="btn btn-primary text-center" asp-action="MyAppointments">Regresar</a>
</div>
