@model IEnumerable<HealthVet.Models.PetsModel>

<p>
    <a class="btn btn-success text-center" asp-action="AddPet">Agregar Mascota</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fullbreed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fullbreed)
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a class="btn btn-primary text-center" asp-controller="Users" asp-action="Index">Regresar</a>
</div>